.header ul {
    display: flex;
    align-items: center;
    padding: 25px 40px;
    margin: 0;
}

.header ul li {
    list-style-type: none;
    margin-right: 15px;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    color: grey;
    transition: 0.3s;
}

.header ul li.active {
    color: rgb(136, 136, 228);
}


.header ul li:hover {
    color: rgb(136, 136, 228);
    cursor: pointer;
    transition: 0.3s;
}

.data-block {
    padding: 0 40px;
    display: inline-block;
}

.data-block_wrapp {
    position: relative;
}

.data-block_loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-block_button {
    padding: 16px 24px;
    text-align: center;
    border: none;
    background-color: blanchedalmond;
    width: 250px;
    margin-bottom: 25px;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
}

.data-block_button:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.data-block_img {
    width: 200px;
    height: 250px;
    position: relative;
}

.data-block_img-not-found {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
}

.data-block_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.data-block_list-item span:first-child {
    font-weight: bold;
    margin-right: 15px;
}