.App {
  text-align: center;
}

/* TaskList styles */
.task-list {
  margin: 20px auto;
  max-width: 500px;
  padding: 20px;
  background-color: #f2f2f2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.task-list-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.task-list-empty {
  font-style: italic;
  color: gray;
}

/* TaskItem styles */
.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.task-item-text {
  flex: 1;
  margin-right: 10px;
  font-size: 18px;
}


.task-item-checkbox {
  margin-right: 10px;
}

.task-item-remove-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.task-item-remove-button:hover {
  background-color: #ac2424;
}

.add-task-form {
  display: flex;
  align-items: center;
}

.add-task-input {
  flex: 1;
  padding: 10px;
  border: 1px solid;
  border-color: #ddd;
  border-radius: 5px 0px 0px 5px;
  font-size: 18px;
}

.add-task-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 0px 5px 5px 0px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.add-task-button:hover {
  background-color: #3e8e41;
}